body {
margin: 0px;
padding: 0px;
background-color: #ccc;
font-family: sans-serif;
font-size: 12pt;
color: black;
width: 98%;
}
a {
text-decoration: none;
color: #069;
}
a:hover {
color: #f90;
}

dt {
font-weight: bold;
}
dd {
margin-bottom: 20px;
}

#banner {
width: 100%;
height: 65px;
background-color: #999;
color: white;
margin: 0px;
padding: 5px;
}
#banner h3 {
margin-top: 0px;
margin-bottom: 0px;
}

#sidebar {
font-size: 10pt;
width: 25%;
float: right;
border-left: 1px dashed white;
padding: 10px;
margin-left: 20px;
}
#sidebar ul {
padding-left: 13px;
}
#sidebar ol {
padding-left: 18px;
}

#main {
padding: 10px;
}

