BODY
{
    MARGIN: 1px;
    BACKGROUND-COLOR: #ffffff
}
.VoceNavigatore
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    VISIBILITY: visible;
    MARGIN: 1px 0px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, 'MS Serif';
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.Percorso
{
    FONT-SIZE: 12px;
    MARGIN: 1px 2px 1px 0px;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.NavigatoreTab
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BACKGROUND-IMAGE: url(http://punto-informatico.it/images/menusopra.gif);
    BORDER-LEFT: medium none;
    WIDTH: 773px;
    BORDER-BOTTOM: medium none
}
.NavigatoreTab2
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BACKGROUND-IMAGE: url(http://punto-informatico.it/images/menusotto.gif);
    BORDER-LEFT: medium none;
    WIDTH: 773px;
    BORDER-BOTTOM: medium none
}
.VoceNavigatoreD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    MARGIN: 1px 0px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, 'MS Serif';
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}

.NavigatoreTabh {
    BORDER-RIGHT: medium none; 
    BORDER-TOP: medium none; 
    BACKGROUND-IMAGE: url(http://punto-informatico.it/images/menusopraHS.gif); 
    BORDER-LEFT: medium none; 
    WIDTH: 773px; 
    BORDER-BOTTOM: medium none
}

.VoceNavigatoreDH {
    FONT-WEIGHT: bold; 
    FONT-SIZE: 10px; 
    MARGIN: 1px 0px; 
    COLOR: white; 
    FONT-FAMILY: Verdana, Arial, 'MS Serif'; 
    TEXT-ALIGN: right; 
    TEXT-DECORATION: none
}
.VoceNavigatoreH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    VISIBILITY: visible;
    MARGIN: 1px 0px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, 'MS Serif';
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}



.PercorsoD
{
    FONT-SIZE: 12px;
    MARGIN: 1px 0px;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.VociS
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    MARGIN: 0px;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
    TEXT-DECORATION: none
}
.sfont2
{
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
    TEXT-DECORATION: none
}
.sfont3
{
    FONT-SIZE: 15px;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
}
.sfont4
{
    FONT-SIZE: 17px;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
}
.sfont5
{
    FONT-SIZE: 20pc;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
}
.Spacer1
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none
}
.TabSRicerca
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN: 5px 5px 0px;
    BORDER-LEFT: medium none;
    TEXT-INDENT: 5px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #f1f1f1;
    TEXT-ALIGN: right
}
