body { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-decoration: none }
A:link { text-decoration: underline; color: #000000; }
A:visited { text-decoration: underline; color: #000000; }
A:active { text-decoration: underline; color: #000099; }
A:hover { text-decoration: underline; color: #6666CC; }
td { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; text-decoration: none;  }
th { font-size: 10pt; background-color: #EEEEEE; font-variant: small-caps}
textarea { font-size: 10pt; font-family: Arial, Helvetica, sans-serif; }
hr { height: 1px; color: #CCCC99; background-color: #CCCC99; border-style: none; margin: 0px 0px; }

/* MAIN */
.left_bar { padding: 0pt; }
.right_bar { background-color: #EEEEEE; padding: 0pt; }
.content { margin: 7pt; }
.menubar { font-size: 9pt; color: #FFFFFF; background-color: #5C799C; text-align: center; font-weight: bold; }
.menubar a:link { text-decoration: none; color: #FFFFFF; }
.menubar a:visited { text-decoration: none; color: #FFFFFF; }
.menubar a:hover { text-decoration: underline; color: #FFFFFF; }
.menubar a:active { text-decoration: underline; color: #FFFFFF; }
.subpath { font-size: 11pt; font-weight: bold; background-color: #EAEAD5; padding: 2pt 5pt; border-bottom: solid; border-width: 1pt; border-color: #808040; }
.subpath a:link { text-decoration: none;  }
.subpath a:visited { text-decoration: none; }
.subpath a:hover { text-decoration: none;  }
.subpath a:active { text-decoration: none; }
.last_update { font-size: 8pt; margin: 4px 0px; }
.topic_title { font-size: 14pt; font-weight: bold;}
.print_box { float: right; padding: 1px; margin: 3px; border: 1px solid #000000;  }
.print_page,.send_email { text-align: center; margin: 2px; padding: 1px; }

/* MENU */
.menu { padding-top: 1px; padding-bottom: 5px; }
.menu_title { font-size: 12pt; font-weight: bold; text-align: center; padding: 3px 3px; border-width: 1pt; border-color: #FFFFFF; border-style: solid; margin: 3px; }
.menu_items { padding: 5px 3px; border-width: 1pt; border-color: #FFFFFF; border-style: solid; margin: 3px; }
.menu_item { font-size: 9pt; }
.menu_level_1 { font-weight: bold; }
.menu_level_2 { margin-left: 7px; }
.menu_footer { font-size: 8pt; padding: 3px; }

/* TABLES */
.pager { font-size: 9pt; text-align: right; color: #666666; }
.list_item_0 { background-color: #ECF1F4; }
.list_item_1 { background-color: #FFFFFF; }
.column_cell { padding: 5pt; }

/* ITEM (article, event) */
.heading { font-size: 11pt; margin-bottom: 8px; }
.headline { font-size: 14pt;  font-weight: bold; }
.subhead { font-style: italic; }
.heading_notes { margin-bottom: 8px; }
.notes { font-style: italic; }

/* FORMS */
.input_separator { background-color: #DDDDDD; font-weight: bold; font-size: 10pt; }
.input_note { font-style: italic; font-size: 8pt; }
.search_input { font-size: 9pt; background-color: #DDDDFF; border-width: 1pt; border-color: #666699; border-style: inset; width: 100px; }
.search_submit { font-weight: bold; font-size: 9pt; color: #4C599C; border-width: 1pt; border-color: #EAEAD5; border-style: outset; }
.code_box { font-size: 8pt; background-color: #FFFFCC; padding: 3pt; border-width: 1pt; border-color: #EEEE90; border-style: inset; }

/* LIST ITEM */
.item { font-size: 8pt; margin-top: 4px; margin-bottom: 16px; }
.item_path { color: #800000; font-size: 8pt; }
.item_path a:link { text-decoration: none; color: #800000; }
.item_path a:visited { text-decoration: none; color: #800000; }
.item_path a:hover { text-decoration: underline; color: #6666CC; }
.item_path a:active { text-decoration: underline; color: #6666CC; }
.item_title { font-size: 10pt; font-weight: bold; }
.item_title_big { font-size: 12pt; font-weight: bold; }
.item_box { margin-bottom: 5px; margin-top: 5px; padding: 2pt; border-style: solid; border-width: 1pt; border-color: #EEEEEE; }

/* GALLERIES */
.gallery_title { text-align: right; background-color: #EAEAD5; border-right: solid; border-color: #808040; border-width: 2pt; vertical-align: top; }


/* BOXES */
.box_1,.box_2,.box_3,.box_4,.box_5,.box_6 { margin: 0px; font-size: 8pt; background-color: transparent; padding: 1pt;  border-style: none; }
.box_title { font-size: 10pt; font-weight: bold; text-align: center; padding: 3pt; }
.box_notes { font-style: italic; }

.box_1 { padding: 2pt; }
.box_1 .box_title { color: #FFFFFF; background-color: #5C799C;  }
.box_1 .box_title a:link { text-decoration: none; color: #FFFFFF; }
.box_1 .box_title a:visited { text-decoration: none; color: #FFFFFF; }
.box_1 .box_title a:hover { text-decoration: underline; color: #FFFFFF; }
.box_1 .box_title a:active { text-decoration: underline; color: #FFFFFF; }
.box_1 hr { background-color: #666699; color: #666699; }
.box_2 .box_title { font-family: Verdana, Arial, sans-serif; background-color: #EAEAD5;  }
.box_2 hr { background-color: #EAEAD5; color: #EAEAD5; }
.box_3 .box_title { font-family: Verdana, Arial, sans-serif; background-color: #CCCC99; }
.box_3 hr { background-color: #CCCC99; color: #CCCC99; }
.box_4 .box_title { font-family: Verdana, Arial, sans-serif; background-color: #808040; color: #FFFFFF; }
.box_4 .box_title a:link { text-decoration: none; color: #FFFFFF; }
.box_4 .box_title a:visited { text-decoration: none; color: #FFFFFF; }
.box_4 .box_title a:hover { text-decoration: underline; color: #FFFFFF; }
.box_4 .box_title a:active { text-decoration: underline; color: #FFFFFF; }
.box_4 hr { background-color: #808040; color: #808040; }
.box_5 { margin: 4px 0px; background-color: #DDDDEE; padding: 3pt; border-width: 1pt; border-color: #666699; border-style: solid; }
.box_5 .box_title { background-color: #CCCCDD; padding: 1pt; }
.box_6 { background-color: #EAEAD5; text-align: right; padding-right: 2pt;  }

/* EVENTS */
.dow_1 { padding: 0px 5px; background-color: #D5D8FD; }
.dow_2 { padding: 0px 5px; background-color: #D5F9FD; }
.dow_3 { padding: 0px 5px; background-color: #F2D5FD; }
.dow_4 { padding: 0px 5px; background-color: #D5FDDA; }
.dow_5 { padding: 0px 5px; background-color: #FDFAD5; }
.dow_6 { padding: 0px 5px; background-color: #FDEAD5; }
.dow_7 { padding: 0px 5px; background-color: #FDD5D5; }
.month_day { border: solid; border-color: #5C799C; border-width: 1pt; font-size: 8pt; padding: 0px; text-align: center;}
.month_day a:link { text-decoration: none; color: #000000; }
.month_day a:visited { text-decoration: none; color: #000000; }
.month_day a:hover { text-decoration: underline; color: #5C799C; }
.month_day a:active { text-decoration: underline; color: #5C799C; }
.month_day.day_off { background-color: #AAAAAA; }
.month_day.day_on { font-weight: bold; }
.event { border: outset; border-width: 1px; border-color: #5C799C; margin: 5px; padding: 5px; background-color: #DDDDEE; }

.geo_box { padding: 10px; background-color: #EAEAD5; border-width: 1pt; border-color: #000000; border-style: outset; vertical-align: top; font-size: 10pt; }
.geo_title { background-color: #CCCC99; font-size: 12pt; font-weight: bold; text-align: center; padding: 3pt;  }
