document.write("<style type='text/css'><!-- ");
document.write("a.tk1963536636:link { color:#3333EE; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk1963536636:hover { color:#7777FF; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk1963536636:visited { color:#2222AA; text-decoration:none; font-family:sans-serif; } ");
document.write("--></style>");
document.write("<table border='' width='100%' bgcolor='#CCFFFF'><tr><td>");
document.write("<span style='line-height:4px;'>&nbsp;<br></span>");document.write("<font size=2><a class='tk1963536636' href='http://www.zeusnews.it/news.php?cod=3126'");document.write(" title='Secondo un appello che ha iniziato a diffondersi in Italia intorno a fine aprile 2004, sarebbero ...'");document.write(">L&#39;autovelox nel paletto giallo e nero</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1963536636' href='http://www.zeusnews.it/news.php?cod=3061'");document.write(" title='Un racconto agghiacciante e una foto impressionante di ragni carnivori enormi in mano a soldati a...'");document.write(">Ragni urlatori giganti in Iraq</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1963536636' href='http://www.zeusnews.it/news.php?cod=3057'");document.write(" title='Le immagini trasmesse dal telegiornale non si riferiscono a vere istruzioni per costruire una bom...'");document.write(">Le istruzioni per la bomba nucleare al TG1</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1963536636' href='http://www.zeusnews.it/news.php?cod=3036'");document.write(" title='Gli antitraspiranti sono cancerogeni! Questa &#232; la straordinaria conclusione di un appello ch...'");document.write(">Antitraspiranti cancerogeni?</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1963536636' href='http://www.zeusnews.it/news.php?cod=2983'");document.write(" title='Siamo all&#39;incoscienza totale: adesso gli utenti ricevono e propagano addirittura allarmi-bufa...'");document.write(">Un attentato per Pasqua</a></font><br>");
document.write("</td></tr></table>");
