document.write("<style type='text/css'><!-- ");
document.write("a.tk625033684:link { color:#3333EE; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk625033684:hover { color:#7777FF; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk625033684:visited { color:#2222AA; text-decoration:none; font-family:sans-serif; } ");
document.write("--></style>");
document.write("<table border='' width='100%' bgcolor='#CCFFFF'><tr><td>");
document.write("<span style='line-height:4px;'>&nbsp;<br></span>");document.write("<font size=2><a class='tk625033684' href='http://www.zeusnews.it/news.php?cod=3339'");document.write(" title='L&#39;Universit&#224; di Bologna promuove un Master in Tecnologia del Software Libero e Open Sour...'");document.write(">Un Master per l&#39;Open Source a Bologna</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk625033684' href='http://www.zeusnews.it/news.php?cod=3337'");document.write(" title='Reporters senza Frontiere denuncia la difficile situazione per la libert&#224; del Web nelle Mald...'");document.write(">Le Maldive, un inferno per la libert&#224; del Web</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk625033684' href='http://www.zeusnews.it/news.php?cod=3325'");document.write(" title='Nelle maggiori aziende italiane, in seguito alla Legge Urbani, aumenta il peer to peer sui Pc azi...'");document.write(">Il P2P sui Pc aziendali ti pu&#242; fare licenziare</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk625033684' href='http://www.zeusnews.it/news.php?cod=3334'");document.write(" title='Abbiamo posto qualche domanda sulla Legge Urbani e sulla democrazia digitale a Daniele Capezzone,...'");document.write(">Un referendum sulla Urbani?</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk625033684' href='http://www.zeusnews.it/news.php?cod=3331'");document.write(" title='Mentre nelle calde ore agostane si scarica insistentemente il service pack 2, a ottobre Microsoft...'");document.write(">Arriva Windows XP per i poveri</a></font><br>");
document.write("</td></tr></table>");
