
a:link {
	color:#3333CC;
	text-decoration:none;
}
a:hover {
	color:#0A99FF;
	text-decoration:none;
}
a:visited {
	color:#270094;
	text-decoration:none;
}

body {
	color:#000000;
	background:#CCFFFF;
	font-family:Verdana,arial,helvetica,sans-serif;
	font-size:12px;
	margin-top:0px
	margin-left:0px
}

body.prnPage {
	background-color:#FFFFFF;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
}

a.utLinks:link {
	color:#3333CC;
	text-decoration:none;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
}

a.utLinks:hover {
	color:#0A99FF;
	text-decoration:none;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
}

a.utLinks:visited {
	color:#270094;
	text-decoration:none;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
}

TABLE.ttxt {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
}

P.intro {
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
}

P.introArt {
	font-family:Verdana, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
}

P.titoloArt {
	font-family:Verdana, Arial, sans-serif;
	font-size:16px;
	font-weight:bold;
}

P.testataArt {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:italic;
}

#bodyArt {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:normal;
}

.autoreArt {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:italic;
	text-align:right;
}

P.autoreArt2 {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:italic;
	text-align:left;
}

P.firmaAutore {
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
}

P.firmaEditore {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:italic;
	text-align:left;
}

P.catDescr {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:italic;
	text-align:left;
}

P.catLongStr {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	text-align:left;
}

P.correlatiArtT {
	font-family:Verdana, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}

P.titoloPagina {
	font-family:Verdana, Arial, sans-serif;
	font-size:24px;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	margin-bottom:12px;
}

P.titoloMedio {
	font-family:Verdana, Arial, sans-serif;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	margin-bottom:6px;
}

P.titoloSezione {
	font-family:Verdana, Arial, sans-serif;
	font-size:24px;
	font-weight:normal;
	font-style:italic;
	text-align:center;
	margin-bottom:12px;
}

P.cmtInfoLine {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-style:italic;
	text-align:right;
	margin-top:5px;
	margin-left:20px
}

.artbutc {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	text-align:center;
	background:#D6D6D6;
	border-top:2px solid #F2F2F2;
	border-right:2px solid #767676;
	border-bottom:2px solid #767676;
	border-left:2px solid #F2F2F2;
	padding:10px;
}

.formDispBut {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	background:#D6D6D6;
	border-top:2px solid #F2F2F2;
	border-right:2px solid #767676;
	border-bottom:2px solid #767676;
	border-left:2px solid #F2F2F2;
	padding-left:20px;
	padding-right:20px;
}

//
// stili per i pallotti del tipo-commento
//

.znuLettore {                                    // pallotto commento lettore (immesso da sito)
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:#CCFFFF;
	color:#CCFFFF;
	padding:2px;
	border:1px solid #CCFFFF;
	margin-top:5px;
}

.znuZeusNews {                                   // pallotto commento immesso da redazione ZeusNews
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:#3333CC;
	color:#FFFFFF;
	padding:2px;
	border:1px solid #3333CC;
	margin-top:5px;
}

.znuApprovato {                                   // pallotto commento lettore approvato da redazione ZeusNews
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:#009933;
	color:#FFFFFF;
	padding:2px;
	border:1px solid #009933;
	margin-top:5px;
}

.znuDisapprovato {                                // pallotto commento lettore approvato da redazione ZeusNews
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:#FF0000;
	color:#FFFFFF;
	padding:2px;
	border:1px solid #FF0000;
	margin-top:5px;
}

//
// fine stili pallotti
//

