BODY 
{ 
scrollbar-face-color: #F5F5F5; 
scrollbar-track-color: #333333; 
scrollbar-arrow-color: #333333;
font-family: Verdana, Helvetica, Arial; 
font-size:12px; 
margin-top: 0; 
margin-left:0; 
background-color: #333333
} 


a 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: bold; 
color: #000000;
text-decoration: underline
} 


a:hover 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: bold; 
color: #333333; 
text-decoration: none
}

.lienspt { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: bold; 
color: #000000;
text-decoration: none
} 


.lienspt:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: bold; 
color: #333333; 
text-decoration: none
}


.liensor { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
color: #FFCC00; 
text-decoration: none
} 

.liensor:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
text-decoration: none;
color: #F5F5F5
}

.liensorpt 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #FFCC00; 
text-decoration: none
} 

.liensorpt:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
text-decoration: none;
color: #F5F5F5
}

.lienspt2 { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #000000; 
text-decoration: none 
}

.lienspt2:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #000000; 
text-decoration: none
}

.liensblanc { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: normal; 
color: #F5F5F5; 
text-decoration: none
} 

.liensblanc:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: normal; 
text-decoration: none;
color: #F5F5F5
}

.liensblancpt 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #F5F5F5; 
text-decoration: none
} 

.liensblancpt:hover 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
text-decoration: none;
color: #CC0033;
background-color: #FFFFFF
}

.linkmenuaff { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #000000; 
text-decoration: underline
} 


.linkmenuaff:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: normal; 
color: #333333; 
text-decoration: none
} 

.linkmenuaff:visited { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
color: #FF0000; 
text-decoration: none
} 

.lientitres { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #000000;
text-decoration: none
} 

.lientitres:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #333333; 
text-decoration: underline
}

.lienbig { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold; 
color: #000000;
text-decoration: none
} 

.lienbig:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold; 
color: #333333; 
text-decoration: underline
}

.text { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #000000
} 

.text-accueil { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #000000
} 

.text2 { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #000000
}

.text3 { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #666666
}

.text4 { 
font-family: Arial; 
font-size: 9px; 
font-weight: normal; 
color: #000000
}
.textpt { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #000000
} 

.textblanc { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #F5F5F5
} 


.titreblanc 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: normal; 
color: #F5F5F5 
}

.text-or { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #FFCC00
} 

.text-orgr { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: bold; 
color: #FFCC00
} 

.titre { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold; 
color: #000000
} 

.titre2{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold; 
color: #FFCC00
} 

blockquote.spip {
	margin-left : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right: 0px;
	border : solid 1px #aaaaaa;
	background-color: #F5F5F5;
	padding: 5px;
}

.date{
color : #F5F5F5;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 10px;
font-weight: bold
}

input { 
color : #000000;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
border-color : #999999
}

textarea { 
color : #000000;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
border-color : #000000
}

select { 
color : #000000;
font: bold 10px Verdana, Arial, Helvetica, sans-serif;
border-color : #333333; 
background-color: #FADE9C
} 

.spip { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #000000
} 

.spip_bouton 
{ 
color : #000000;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
border-color : #000000
}
 
.spip_encadrer {
	font-family: helvetica, arial, sans-serif;
	width : 100%;
	background-color: #FFFFFF;
	padding: 5px;
	border: 1px #666666 solid;
}



.spip_cadre {
width : 100%;
background-color: #FFCC00;
padding: 3px;
border: 0px 
}


/*
 * Formulaires
 */

.formrecherche {
	background-color: #FFCC00;
	color: #505030;
	margin: 0px;
	padding: 2px;
	border: solid 1px #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal
}

.formulaire {
	color: black;
	margin: 0px;
	margin-bottom: 16px;
	padding: 4px;
	border: 1px solid #333333;
	background-color: #FFCC00;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal
}
.forml {
	background-color: #F5F5F5;
	margin: 4px;
	padding: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10
}

.reponse_formulaire {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: red
}

.spip_surligne { 
background-color: #FFFF66
}

.signatures {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%
}

.signatures td {
-moz-border-radius: 
0.4em
}

.signatures-titre {
clear: right;
font-weight: bold;
font-size: 120%;
text-align: center;
padding: 0.5em;
margin: 0px
}

.signature-date {
white-space: nowrap;
background: #e4f0f0;
padding: 0.5em
}


.signature-nom {
font-weight: bold;
background: #ecf4f4;
padding: 0.2em;
text-align: center
}

.signature-message {
font-size: 85%;
background: #f4f8f8;
padding: 0.4em;
text-align: justify
}

a.spip_url { }
a.spip_in { }
a.spip_out { }
.spip_code { }
p.spip_note { }

h3.spip {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 100%;
	text-align: center
}

.spip_documents{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size : 90%
}


table.spip {
}

table.spip tr.row_first {
	background-color: #FCF4D0
}

table.spip tr.row_odd {
	background-color: #C0C0C0
}

table.spip tr.row_even {
	background-color: #F0F0F0
}

table.spip td {
	padding: 1px;
	text-align: left;
	vertical-align: center
}

hr.spip { }
b.spip { }
i.spip { }

.calendar_head {
background-color: #F5F5F5
}

.calendar_not_this_month
{
background-color: #CCCCCC
}

.calendar_
{
background-color: #FFCC00
}

calendar_this_month
{
background-color: #FFFFFF
}


.agend_mois
{ 
background-color: #CC0033; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #FFCC00
}

.agend_now
{ 
background-color: #FADE9C;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 20px; 
font-weight: normal; 
color: #333333
}

.agend_tout
{ 
background-color: #FADE9C;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #333333
}

.agend_liens { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: bold; 
color: #CC0033;
text-decoration: none
} 

.agend_liens:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: bold; 
color: #FF799B; 
text-decoration: none
}

.cadre {  
width : 100%;
padding: 2px;
border: #333333 dashed; 
border-width: 0px 0px 1px;
}

.points_espacement {  
width : 100%;
height : 8;
padding: 0px 0px;
background-image: url(http://bellaciao.org/images/point.gif);
}

.cadre_texte {  
width : 100%;
padding: 5px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
}

.cadre_blanc_b {  
width : 100%;
padding: 3px;
background-color: #FFFFFF;
border: #333333 dashed; 
border-width: 0px 0px 1px
}

.cadre_blanc {  
width : 100%;
padding: 5px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
background-color: #FFFFFF;
border: 2px #CC0033 solid;
}

.cadre_blanc_bdn {  
width : 100%;
padding: 5px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
background-color: #FFFFFF;
border: 1px #999999 dashed;
}

.cadre_blanc_lite {  
width : 100%;
padding: 2px;
font-size: 11px;
background-color: #FFFFFF;

}

.cadre_citations {  
width : 100%;
padding: 2px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
font-weight: bold; 
color: #FFFFFF; 
}

code {
	font-size: 8pt;
}