document.write ('<div id="SP" align="center">')
document.write ('  <table width="717" border="0" cellpadding="0" cellspacing="0">')
document.write ('  <tr>') 
document.write ('   <td width="146">') 
document.write ('        <B> FORUM<br>')
document.write ('          COMUNICAZIONE<br>')
document.write ('          MILANO</B>')
document.write ('   </td>')
document.write ('   <td>') 
document.write ('      <p><img src="IMG/logo.gif" width="299"></p>')
document.write ('   </td>')
document.write ('  </tr>')
document.write ('</table>')
document.write ('<table width="717" border="0" cellpadding="0" cellspacing="0">')
document.write ('    <tr>') 
document.write ('      <td><img src="IMG/a_01.gif"  height="81"></td>')
document.write ('      <td><img src="IMG/a_02.gif"  height="81"></td>')
document.write ('    </tr>')
document.write ('</table>')
document.write ('<table width="717" border="0" cellpadding="0" cellspacing="0">')
document.write ('<tr class="general" width="717"> ')
document.write ('<td class="menu-item" width="146"><a href="http://www.socialpress.it" title="Home Page">HOME PAGE</a></td>')
document.write ('<td class="menu-item" > <a href="SP-chisiamo.html">CHI SIAMO</a> </td>')
document.write ('<td class="menu-item" > <a href="plan.php3">MAPPA DEL SITO</a> </td>')
document.write ('<td class="menu-item" > ARCHIVI </td>')
document.write ('<td class="menu-item" > &nbsp;&nbsp; <a href="link.php3">LINK </a> </td>')
document.write ('<td class="menu-item" > <a href="ecrire/" title="Area riservata ai redattori">AREA RISERVATA</a> </td>')
document.write ('</tr></table>')
document.write ('</div>')
