body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	background: #fff url(img/spione.png) no-repeat bottom left;
}
a:link {
	color: #107BF7;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #107BF7;
}
a:hover {
	text-decoration: underline;
	color: #FF6600;
}
a:active {
	text-decoration: none;
}
body,td,th {
	font-family: Lucida Grande, Arial, Verdana;
	font-size: 11px;
}
.style3 {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.style4 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
}
.menuitem {
	border-bottom: 1px solid black;
	width:100%;
	padding: 5px;
	font-family: "Lucida Grande", Arial, Verdana;
	font-weight: bold;
	background-color: #107BF7;
	color: #FFFFFF;
}

.menuitem-misteri {
	border-bottom: 1px solid black;
	width:100%;
	padding: 5px;
	font-family: "Lucida Grande", Arial, Verdana;
	font-weight: bold;
	background-color: #FCC55E;
	color: #000000;
}
#content {
	padding: 2px;
	margin: 20px;
}
#contenttitle {
	font-size:18px;
	color: #107BF7;
	font-weight: bold;
	color: #107BF7;
}

pre {
    font-size: 120%;
    padding: 1em;
    border: 0px dashed #8cacbb;
    color: #666666;
    background-color: #CCCCCC;
    overflow: auto;
}

.entry {
   text-align: justify;
}
